/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html,
body
{scroll-behavior: smooth;
  max-width: 60em;

}

@font-face {
    font-family: 'core-circus';
    src: url('fonts/core-circus.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aprikas-regular';
    src: url('fonts/aprikas-regular.otf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aprikas-light';
    src: url('fonts/aprikas-light.otf');
    font-weight: normal;
    font-style: normal;

}

.largevp h1 {
    font-family: 'aprikas-light',sans-serif;
    font-size: 2.3em;
    color: whitesmoke;
    text-align: center;
    margin: 40px 0px 20px 0px;

}

.largevp figure {
    text-align: center;
    margin-top: 30px;

}

.largevp img {
    width: 30%;

}

.largevp {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 27%;
    height: 100%;
    background: #2c2b20;

}

.largevp nav ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0px;

}

li.lmain a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;

}

li.lmain a:hover {
    display: block;
    font-family: 'Montserrat',sans-serif;
    color: white;
    letter-spacing: 8px;
    text-decoration: none;
    padding: 8px;
    transition: letter-spacing 0.2s ease-in-out;
}

li a {
    display: block;
    font-family: 'poiret one', sans-serif;
    font-size:14px;
    font-weight: bold;
    color: darkgray;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px 0px;

}

li a:hover {
    display: block;
    font-family: 'poiret one',sans-serif;
    color: gray;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 2px 0px;
    transition: letter-spacing 0.2s ease-in-out;

}

.smallvp figure {
    text-align: center;
    margin-top: 10px;

}

.smallvp img {
    width:3%;
  }

.smallvp h1 {
  font-family: 'aprikas-light',sans-serif;
  font-size: 1.2em;
  color: whitesmoke;
  text-align: center;
  margin: 10px 0px 20px 0px;


}

.smallvp nav ul {
      list-style-type: none;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      overflow: hidden;
      background:#2c2b20;

    }

.smallvp nav li {
  display:inline-block;
  padding: 5px 8px;
  float: none;
  vertical-align:middle;
  }

.smallvp nav li:hover{
  display: block;
  padding: 5px 8px;
  background: #D98880;
  transition: background 0.5s ease-in-out;
  }

  .smallvp nav li a {
    display: block;
    margin: 11px;
    width: 20px;
    border: hidden;
    color: #424242;
  }

  .smallvp nav li a:hover {
      display: block;
      margin: 5px 1px;
      width: 40px;
      border: double black 3px;
      padding: 6px 10px;
      margin: 5px 1px;
      transition: background 0.5s ease-in-out;
      transition: border 0.2s ease-in-out;

    }

    main figure {
        text-align: center;
    }

    main img {
      height: 733px;
      width: auto;
      max-height: 100%;
      border-radius: 10px;

    }

    #about {
      width: 60%;
      height: 100%;
      padding-top: 22%;
      margin-bottom: 25%;
      margin-left: auto;
      margin-right: auto;

    }

    #about h3 {
      font-family: 'aprikas-regular', sans-serif;
      text-align: left;
      margin-bottom: 30px;

    }

    #about p:first-letter {
      font-family: 'Berkshire Swash', serif;
      font-size: 400%;
      color: #424242;
      line-height: 100%;
      padding-top: 0px;
      padding-bottom: 100px;
      padding-left: 4px;
      padding-right: 15px;
      float: left;
      clear:right;
    }

    .opening-phrase{
      font-family: 'arvo', serif;
      font-size: 11px;
      font-weight: bold;
      color: Black;

    }

    #about p{
      font-family: 'work sans', sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #424242;
      text-align: justify;
      line-height: 25px;
      text-transform: uppercase;
      border: 1px solid lightgray;
      border-top: hidden;
      border-bottom:hidden;
      padding: 0px 60px;
      margin-top:30px;
    }

    #work {
      height: 100%;
      padding-top: 2.5%;
      margin-bottom: 2.5%;
      margin-left: auto;
      margin-right: auto;

    }

    #work h2 {
      font-family:'aprikas-regular',sans-serif;
      font-size: 4em;
      color:  #2c2b20;
      text-align: center;
      padding: 300px;
      border: 1px solid gray;
      margin-left: auto;
      margin-right: auto;

    }


    .content {
      width: 250px;
      height: 200px;
      padding: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40%;
      margin-bottom: 60px;
      }

      .desc1 {
        font-family: 'Montserrat',sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
      }

      .desc2 {
        font-family: 'aprikas-regular',sans-serif;
        color: black;

      }

      .size {
        font-family: 'aprikas-regular', sans-serif;
        font-size: 14px;
        color: gray;
      }

      .medium {
        font-family: 'aprikas-regular', sans-serif;
        font-size: 14px;
        color: gray;
        font-style: italic;
      }

      .content h4 {
        font-family: 'Poiret One', sans-serif;
        text-align: center;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: 30px;
      }

      .col-md-4 p{
        font-family: 'aprikas-light',sans-serif;
        text-align: center;
        margin-top: 30px;
        margin-bottom: auto;

      }

      .period {
        font-family: 'poiret one', sans-serif;
        color: gray;
      }

      #contact {
        width: 30%;
        height: 100%;
        padding-top: 22%;
        margin-bottom: 25%;
        margin-left: auto;
        margin-right: auto;

      }

      #contact h3 {
        font-family: 'aprikas-regular', sans-serif;
        text-align: center;
        margin-bottom: 30px;

      }

      #contact p{
        font-family: 'work sans', sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #424242;
        text-align: center;
        line-height: 25px;
        border: 1px solid lightgray;
        padding: 60px 60px;
        margin-top:30px;
      }

        #resume {
            width: 95%;
            height: 100%;
            padding-top: 5%;
            margin-bottom: 25%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

          }

        #resume h3 {
            font-family: 'aprikas-regular', sans-serif;
            text-align: center;
            margin-bottom: 30px;

          }

          #resume h4 {
              font-family: 'core-circus', sans-serif;
              font-size: 16px;
              text-align: center;

            }

            #resume h5{
            font-family: 'Montserrat', sans-serif;
            margin-top:20px;
            font-size: 14px;
            font-weight: bold;
            color: #424242;
            }

            .location {
              font-family: 'aprikas-regular',sans-serif;
              font-size: 11px;
            }

            #resume p {
              font-family: 'aprikas-regular',sans-serif;
              font-size: 13px;

            }

            #resume em {
              color: black;
              font-weight: bold;
            }

            #currency {
              width: 100%;
              height: auto;
            }


            .img1 {
              padding-top: 18%;
              padding-bottom: 20%;
              display: block;
              width: 100%;
              height: auto;

            }
@media (min-width:750px) {
  .smallvp {
  visibility: hidden;
  display: none;
  }

main {
  position: absolute;
  vertical-align: middle;
  width: 71%;
  top: 0;
  left: 1%;
  margin-left: 27%;

}
}

@media (max-width:750px) {
  .largevp {
  visibility: hidden;
  display: none;
  }

  .page-header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top:0;
    background: #2c2b20;
    z-index: 1;

  }

  body {
  width:100%;
  margin: auto 0;
  padding-top:70px;
  max-width: 60em;
  margin-left:auto;
  margin-right:auto;

}
}
