::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  background: #888;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;

}

html,
body {
  scroll-behavior: smooth;
  max-width: 60em;

}

@font-face {
  font-family: 'core-circus';
  src: url('fonts/core-circus.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aprikas-regular';
  src: url('fonts/aprikas-regular.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aprikas-light';
  src: url('fonts/aprikas-light.otf');
  font-weight: normal;
  font-style: normal;

}

.content {
  width: 250px;
  height: 200px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  margin-bottom: 60px;

}

.desc1 {
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;

}

.desc2 {
  font-family: 'aprikas-regular',sans-serif;
  color: black;

}

.size {
  font-family: 'aprikas-regular', sans-serif;
  font-size: 14px;
  color: gray;

}

.medium {
  font-family: 'aprikas-regular', sans-serif;
  font-size: 14px;
  color: gray;
  font-style: italic;

}

.content h4 {
  font-family: 'Poiret One', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 30px;

}

.col-md-4 p{
  font-family: 'aprikas-light',sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: auto;

}

.period {
  font-family: 'poiret one', sans-serif;
  color: gray;

}

#resume {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  margin-bottom: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#resume h3 {
  font-family: 'aprikas-regular', sans-serif;
  text-align: center;
  margin-bottom: 30px;

}

#resume h4 {
  font-family: 'core-circus', sans-serif;
  font-size: 16px;
  text-align: center;

}

#resume h5 {
  font-family: 'Montserrat', sans-serif;
  margin-top:20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #424242;

}

.location {
  font-family: 'aprikas-regular',sans-serif;
  font-size: 11px;

}

#resume p {
  font-family: 'aprikas-regular',sans-serif;
  font-size: 13px;

}

#resume em {
  color: black;
  font-weight: bold;

}

#currency {
  width: 100%;
  height: auto;

}

.img1 {
  padding-top: 18%;
  padding-bottom: 20%;
  display: block;
  width: 100%;
  height: auto;

}

@media (min-width:700px) {

  main {
    position: absolute;
    top: 0;
    left: 1%;
    width: 71%;
    margin-left: 27%;

  }


  .smallvp {
    visibility: hidden;
    display: none;

  }

  .largevp {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 27%;
    height: 100%;
    background: #2c2b20;

  }

  .largevp figure {
    text-align: center;
    margin-top: 30px;

  }

  .largevp img {
    width: 30%;

  }

  .largevp h1 {
    font-family: 'aprikas-light',sans-serif;
    font-size: 2.3em;
    text-align: center;
    color: whitesmoke;
    margin: 40px 0px 20px 0px;

  }

  .largevp nav ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0px;

  }

  li.lmain a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 8px 16px;

  }

  li.lmain a:hover {
    display: block;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 8px;
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: letter-spacing 0.2s ease-in-out;
  }

  li a {
    display: block;
    font-family: 'poiret one', sans-serif;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: darkgray;
    padding: 2px 0px;

  }

  li a:hover {
    display: block;
    font-family: 'poiret one',sans-serif;
    letter-spacing: 5px;
    text-decoration: none;
    color: gray;
    padding: 2px 0px;
    transition: letter-spacing 0.2s ease-in-out;

  }

  main figure {
    text-align: center;

  }

  main img {
    width: auto;
    height: 733px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

  }

  #work {
    height: 100%;
    padding-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;

  }

  #work h2 {
    font-family:'aprikas-regular',sans-serif;
    font-size: 4em;
    text-align: center;
    color:  #2c2b20;
    border: 1px solid gray;
    padding: 300px 0px;
    margin-left: auto;
    margin-right: auto;

  }

  #about {
    width: 60%;
    height: 100%;
    padding-top: 22%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;

  }

  #about h3 {
    font-family: 'aprikas-regular', sans-serif;
    text-align: left;
    margin-bottom: 30px;

  }

  #about p:first-letter {
    font-family: 'Berkshire Swash', serif;
    font-size: 400%;
    line-height: 100%;
    color: #424242;
    padding-top: 0px;
    padding-bottom: 100px;
    padding-left: 4px;
    padding-right: 15px;
    float: left;
    clear:right;

  }

  .opening-phrase{
    font-family: 'arvo', serif;
    font-size: 11px;
    font-weight: bold;
    color: Black;

  }

  #about p{
    font-family: 'work sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    text-align: justify;
    text-transform: uppercase;
    color: #424242;
    border: 1px solid lightgray;
    border-top: hidden;
    border-bottom:hidden;
    padding: 0px 60px;
    margin-top:30px;

  }

  #contact {
    width: 30%;
    height: 100%;
    padding-top: 22%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;

  }

  #contact h3 {
    font-family: 'aprikas-regular', sans-serif;
    text-align: center;
    margin-bottom: 30px;

  }

  #contact p {
    font-family: 'work sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #424242;
    text-align: center;
    line-height: 25px;
    border: 1px solid lightgray;
    padding: 60px 60px;
    margin-top:30px;

  }

}

@media (max-width:700px) {

  body {
    width:100%;
    max-width: 700px;
    margin-top: 80px;
    margin-left:auto;
    margin-right:auto;

  }

  main {
    width:100%;
    max-width: 700px;
    margin-top: 80px;
    margin-left:auto;
    margin-right:auto;

  }


  .largevp {
    visibility: hidden;
    display: none;

  }

  .smallvp {
    position: fixed;
    top:0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
    height: 80px;
    background: #2c2b20;

  }

  .smallvp figure {
    display: inline;
    text-align: center;

  }

  .smallvp img {
    height: 1.5em;
    text-align: center;
    margin-bottom: 3px;

  }

  .smallvp h1 {
    font-family: 'aprikas-light',sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: whitesmoke;
    margin: 15px 0px 5px 0px;

  }

  .smallvp nav ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 0;
    background: #2c2b20;

  }

  .smallvp nav li {
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    max-width: 175px;
    padding: 0px;

  }

  .smallvp nav li a {
    display: block;
    font-family: 'poiret one', sans-serif;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: darkgray;
    padding: 2px 0px;

  }

  .smallvp nav li a:hover {
    display: block;
    font-family: 'poiret one',sans-serif;
    letter-spacing: 5px;
    text-decoration: none;
    color: gray;
    padding: 2px 0px;
    transition: letter-spacing 0.2s ease-in-out;

  }


  img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

  }


  #work {
    height: 100%;
    width: 100%;
    padding-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;

  }

  #work h2 {
    font-family:'aprikas-regular',sans-serif;
    font-size: 4em;
    text-align: center;
    color:  #2c2b20;
    border: 1px solid gray;
    padding: 300px 0px;
    margin-left: 2.5%;
    margin-right: 2.5%;

  }

  #about {
    width: 70%;
    height: 100%;
    padding-top: 22%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;

    }

    #about h3 {
      font-family: 'aprikas-regular', sans-serif;
      text-align: left;
      margin-bottom: 30px;

    }

    #about p:first-letter {
      font-family: 'Berkshire Swash', serif;
      font-size: 300%;
      line-height: 100%;
      color: #424242;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 4px;
      padding-right: 15px;
      float: left;
      clear:right;

    }

    .opening-phrase{
      font-family: 'arvo', serif;
      font-size: 10px;
      font-weight: bold;
      color: Black;

    }

    #about p{
      font-family: 'work sans', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-transform: uppercase;
      color: #424242;
      border: 1px solid lightgray;
      border-top: hidden;
      border-bottom:hidden;
      padding: 0px 60px;
      margin-top:30px;

    }


    #contact {
      width: 90%;
      height: 100%;
      padding-top: 22%;
      margin-bottom: 25%;
      margin-left: auto;
      margin-right: auto;

    }

    #contact h3 {
      font-family: 'aprikas-regular', sans-serif;
      text-align: center;
      margin-bottom: 30px;

    }

    #contact p {
      font-family: 'work sans', sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #424242;
      text-align: center;
      line-height: 25px;
      border: 1px solid lightgray;
      padding: 60px 60px;
      margin-top:30px;

    }

}
